body{width:80%;margin:10px auto}
.nav{display: flex;border: 1px solid #000;}
.nav ul{margin: auto}
.nav ul li{display: inline-block;margin-right: 30px; position: relative;
        }
.nav h1{color:green}
.nav ul li:before{
        content: '';
        width:5px;
        height:5px;
        position: absolute;
        background-color: green;
        border-radius: 10px;
        left:50%;
        top:-5px;
        transform: translateX(-50%);

}
.nav ul li:hover::before{
        width:100%;transition: all .5s ease
}


.header{background-image: url(headerbg.jpg);
       
        height: 400px;background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
        padding: 100px 150px;box-sizing: border-box;
        position: relative;}
.header h2{color: rgb(62, 209, 32);font-size: 30px}
.header p{color: rgb(110, 58, 9);margin-bottom: 20px;}
.header > a{color: white;background: blue;padding: 10px 20px;
        }
.list{position: absolute;right: 0%;bottom: -15%;}
.list li{display: inline-block;width: 120px;height:120px;
        background-image: url(hoverseoul.png);text-align: center}
.list li a{color: white;font-size: 30px;text-decoration: none;
                line-height:100px;}

.list li:nth-child(1):hover{background: rgb(38, 223, 13);transform: scale(1.3)}
.list li:nth-child(2):hover{background: rgb(230, 91, 11);transform: scale(1.3)}  
.list li:nth-child(3):hover{background: rgb(11, 68, 226);transform: scale(1.3)}  
.list li:nth-child(4):hover{background: rgb(240, 9, 9);transform: scale(1.3)}  

.section{display: flex;justify-content: space-between;
        height:550px;
        overflow: hidden;}
.main{width: 50%}
.side{width: 50%;border: 1px solid #000;position: relative;}
.text{position: absolute;top: 20%;left: 10%; width:80%}
.text h2{font-size: 30px}
.text p{margin-top: 20px;font-size: 20px};
.text ul{height: 16px; margin-top:30px;}
.text ul li{font-size:20px;display: inline-block;
                }
.text ul li:hover{background: blue;color: white}                
.level2{border: 2px solid blue; position: relative; height: 200px; 
        width:100%;}
.level2>p{font-size: 16px; position: absolute; top:50%; transform: translateY(-50%);display: none;}
.level2 p{padding-bottom: 40px}
.on{
        display: block !important;
}
.section1{width: 80%;margin: auto}
.section1 ul{display: flex;justify-content: center}
.section1 ul li{margin-right:30px;position: relative;
                margin-top: 30px;}
.section1 li::before{
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        background: blue;
        left:50%;
        top:-5px;
        transform: translateX(-50%);
}

.section1 ul li:hover::before{
        width:100%;transition: all .5s ease
}

/* 
@media only screen and (max-width:799px) {
    
      
    }
    
    @media only screen and (min-width:800px)and (max-width:1024px) {
      
            
        }
    
      
    }
    
    @media only screen and (min-width:1025px) {
    
        
    }   */